{% extends "base.html" %}
{% load static %}


{% block title %}Login{% endblock %}

{% block content %}

{% include "partials/_nav.html" %}

<div class="container">
    {% include 'partials/_banner.html' %}
    <div class="container__form">
        <h2 class="container__form--header">Login</h2>
        <form class="container__form--fields" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="container__form--button"
            type="submit">
            <span>
                <svg class="container__form--button-svg">
                    <use xlink:href="#icon-login">
                    </use>
                </svg>Login</span>
            </button>
        </form>
    </div>
</div>

{% endblock content %}