{% load static %}


{% block _banner %}
<div class="container">
    <div class="container__header">
        <svg class="container__header--sprite">
            <use class="container__header--sprite-icon" xlink:href="#icon-film">
            </use>
        </svg>
        <h1 class="container__header--main">Movie Rater API</h1>
    </div>
    <p class="container__txt">This Django rest API was developed to work in combination the Angular front end
        application, Movie Rater</p>
</div>

{% endblock _banner %}