{% block _footer %}

<footer class="footer">
        <div class="footer__list">
                <ul class="footer__list--social">
                        <li class="footer__list--social-item">
                                <a href="https://github.com/ddeveloper72/movie-rater" target="_blank">
                                        <svg class="footer__sprite">
                                                <use class="footer__sprite--icon" xlink:href="#icon-github1"">
                                                </use>
                                        </svg>
                                </a>
                        </li>
                        <li class="footer__list--social-item">
                                <a href="https://www.linkedin.com/in/duncanfalconer/" target="_blank">
                                        <svg class="footer__sprite">
                                                <use class="footer__sprite--icon" xlink:href="#icon-linkedin-with-circle">
                                                </use>
                                        </svg>
                                </a>
                        </li>
                        <li class="footer__list--social-item">
                                <a href="https://twitter.com/DGFalconer" target="_blank">
                                        <svg class="footer__sprite">
                                                <use class="footer__sprite--icon" xlink:href="#icon-twitter-with-circle">
                                                </use>
                                        </svg>
                                </a>
                        </li>
                        
                </ul>
                <ul class="footer__list--credits">
                        <li class="footer__list--credits-item-1">Django Rest API by Duncan Falconer, 2020</li>
                       
                        <li class="footer__list--credits-item-2">"All logos and trademarks are the property of the respective trademark
                                owners"<br />
                        "Images or other media content uploaded by our users are the property of the respective copyright owners."</li>
                </ul>

        </div>
        

                        

</footer>

{% endblock _footer %}