{% block _nav %}

<nav class="navbar">
    <span class="navbar-toggle" onclick="toggleMobileNav()"></span>
    <ul class="navbar__nav" id="mobile-menu">
        <li class="navbar__nav--item navbar__mobile--item" href="{% url 'index' %}">
            <a href="{% url 'index' %}">
                <svg class="navbar__brand--sprite">
                    <use class="navbar__brand--sprite-icon" xlink:href="#icon-angular">
                    </use>
                </svg>
                <text class="navbar__brand--txt">With</text>
                <svg class="navbar__brand--sprite">
                    <use class="navbar__brand--sprite-icon" xlink:href="#icon-django">
                    </use>
                </svg>
                <text class="navbar__brand--txt">REST API</text>

            </a>
        </li>
        {% if form %}
        <li class="navbar__nav--item">
            <a class="navbar__nav--item-link navbar__mobile--item-link" href="{% url 'index' %}">Home</a>
        </li>
        {% else %}
            <li class="navbar__nav--item">
                <a class="navbar__nav--item-link navbar__mobile--item-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif%}
    </ul>
</nav>

{% endblock _nav %}