.container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 20px;
    

    @media only screen and (max-width: 860px) {
        padding: 0 20px;
        margin-top: -20px;
    }

    
    &__header {
        display: flex;
        justify-content: center; 
        align-items: center;
        font-size: 3rem;
        

        @media only screen and (max-width: 860px) {
            font-size: 2rem;
            padding: 0;
        }
        @media only screen and (max-width: 480px) {
            font-size: 1.6rem;
        }

        @media only screen and (max-width: 390px) {
            font-size: 1.2rem;
        }

        @media only screen and (max-width: 275px) {
            font-size: 1rem;
        }

        
        

        &--sprite {
            
            &-icon {
                fill: #e2eaef;
                width: 80px;
                height: auto;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                
            }
            
            @media only screen and (max-width: 860px) {
                width: 10vw;
                margin-top: 0;
                margin-right: 10px;
            }
        }
        
        &--main {
            color: #e2d285;
            font-family: cursive;

        }
    }


    &__txt {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        padding-bottom: 80px;
        
        @media only screen and (max-width: 420px) {
            font-size: 1.6rem;
            margin-top: -10px;
        }

        @media only screen and (max-width: 240px) {
            font-size: 1.2rem;
        }
    
    }
}
