.navbar {
    background-image: linear-gradient(260deg, #324450 0%, #18182b 100%);
    font-size: 2.5rem;
    padding: 0 15px;
    transition: transform 4s;
    
    &__nav {
        display: grid;
        grid-template-columns: 90vw 10vw;
        font-size: 2.3rem;
        padding: 5px 0px;
        
        // large screen nav menu list
        &--item {
            margin-right: 20px;
            font-size: 2.2rem;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            

            &:first-child {
                grid-column: 1 / 2;
                justify-self: start;
                margin-left: 1%;
            }

            // specify center justify for second child, Welcome username
            &:last-child {
                grid-column: 2 / -1;
                justify-self: center;
            }

            &-link {
                text-decoration: none;
                display: flex;
                color: #fff;
            }


            &-link:hover {
                color: orangered;
                cursor: pointer;
            }
        }
    }


    // branding menu style
    &__brand {
        display: flex;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        outline: none;
        margin-right: 15px;
        transition: transform .4s;
        
        // svg sprite icons config & style
        &--sprite {
            display: flex;
            align-self: center;
            align-items: flex-start;
            background-color: #650165;
            padding: 2px;
            border-radius: 50px;
            width: 2.6rem;
            height: 2.6rem;
            margin-right: 2px;
            
            &:hover {
                transform: scale(1.2);
            }
            
            &-icon {
                fill: #fff;

            }

        }

        &--sprite:not(:last-of-type) {
            background-color: #fff;

        }
        
        &--txt {
            margin: 0 5px;
            color: #fff;
        }
    }

    // mobile class toggled by JS to enable responsive list layout
    &__mobile {
        display: grid;
        font-size: 3rem;
        padding: 10px 0px;
        grid-template-columns: 90vw 10vw;
        grid-template-rows: repeat(4, 3rem);


        & li:not(:first-child){
            grid-column: 1 / -1;
            grid-row: 3 / 4;
            justify-content: center;
        }
    }
}


// responsive menu hides list on smaller screens
@media screen and (max-width: 780px) {
    .navbar {

        &__nav {
            padding: 10px;

            & li:not(:first-child) {
                display: none;
            }

        }
    }
}

// responsive menu hides list on smaller screens
@media screen and (max-width: 882px) {
    .navbar {
        
        &__brand {

            &--txt {
                font-size: 1.8rem;
            }
        }
    }
}



// add in custom styles for button
@media screen and (max-width: 780px) {

    .navbar-toggle {
        position: absolute;
        top: 25px;
        right: 20px;

        &,
        &::before,
        &::after {
            display: inline-block;
            width: 25px;
            height: 1.5px;
            background-color: #9c9999;
            margin-right: 15px;
            cursor: pointer;
        }

        &::before,
        &::after {
            content: " ";
            position: absolute;
        }

        &::before {
            top: -8px;
        }

        &::after {
            top: 8px;
        }

    }
}