{% extends 'base.html' %}
{% load static %}

{% block page_title %}404 error{% endblock %}

{% block content %}


<div class="container">
    {% include 'partials/_banner.html' %}
    <div class="container__error">
        <div class="container__error--img">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/404error.png' %}" alt="404 page not found">
            </a>

        </div>
        <div class="container__error--description">
            <p>What you were looking for is just not there...</p>
        </div>

    </div>
</div>


{% endblock content %}