{% extends 'base.html' %}
{% load static %}

{% block page_title %}500 error{% endblock %}

{% block content %}

{% include 'partials/_nav.html' %}
<div class="container">
    {% include 'partials/_banner.html' %}
    <div class="container__error">
        <div class="container__error--img">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/500error.png' %}" alt="500 server error">
            </a>
        </div>
        <div class="container__error--description">
            <p>We're sorry, there's been a server error...</p>
        </div>

    </div>
</div>


{% endblock content %}