
{% load static %}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie-Ratter API</title>
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        
        {% block stylesheet %}{% endblock %}
        
        {% block head_js %} 
        <script src="{% static 'js/svg.js' %}">
        </script>
        <script src="{% static 'js/toggle.js' %}">
        </script>
        {% endblock head_js %}
   
</head>

<body>
    
    <main class="content">
        
        {% block content %}
        
        {% endblock %}
    </main>

    {% include 'partials/_footer.html' %}

</body>

</html>